/* SVG 图 */
#path_1 {
    stroke-width: 4;
    stroke: white;
    stroke-dashoffset: 7% 7%;
    stroke-dasharray: 0 35%;
    -moz-animation: animation 3s ease infinite forwards;
    -o-animation: animation 3s ease infinite forwards;
    -webkit-animation: animation 3s ease infinite forwards;
}

@-webkit-keyframes animation {
    100% {
        stroke-dasharray: 7% 7%;
        stroke-dashoffset: 7%;
    }
}

#path_2 {
    stroke-width: 4;
    stroke: white;
    stroke-dashoffset: 7% 7%;
    stroke-dasharray: 0 35%;
    -moz-animation: animation 3s ease infinite forwards;
    -o-animation: animation 3s ease infinite forwards;
    -webkit-animation: animation2 3s ease infinite forwards;
}

@-webkit-keyframes animation2 {
    100% {
        stroke-dasharray: 7% 7%;
        stroke-dashoffset: 14%;
    }
}
