---
layout: page
title: "About"
description: "人的本质"
header-img: "img/animate-bg/wlop-7.jpg"
multilingual: false
---

<!-- Language Selector -->
{% comment %} <select class="sel-lang" onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select> {% endcomment %}

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        写写代码，做做设计，看看产品。
        世界那么大，多玩玩看看。
    </blockquote>
    一台莫的感情的复读机。
    <br>挪个窝，换个心情，书写自己的故事。
    <br>
    <br>记忆会模糊
    <br>但痕迹不可磨灭
    <br>
    <br>戳这里 <a href="mailto:lexkaing@hku.hk">lexkaing@hku.hk</a>
</div>

<!-- English Version -->
{% comment %} <div class="en post-container">
    {% capture about_en %}{% include about/en.md %}{% endcapture %}
    {{ about_en | markdownify }}
</div> {% endcomment %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}


{% if site.click_love %}
<!-- 增加点击💗 -->
<script type="text/javascript" src="/js/love.js"></script>
{% endif %}


{% if site.click_fireworks %}
<!-- 增加点击烟花效果 -->
<!-- <canvas class="fireworks" style="position: fixed;left: 0;top: 0;z-index: 1; pointer-events: none;" ></canvas> 
<script type="text/javascript" src="//cdn.bootcss.com/animejs/2.2.0/anime.min.js"></script> 
<script type="text/javascript" src="/js/fireworks.js"></script> -->
{% endif %}


{% if site.bg_nest %}
<!-- 增加背景canvas-nest效果 -->   
<!-- <script type="text/javascript" color="167,198,202" opacity='0.5' zIndex="-2" count="99" src="/js/canvas-nest.min.js"></script> -->
{% endif %}